body {
    background-image: url(img/BackGround.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

.div1 {
    color: beige;
    text-align: center;
}

.facebooklink {
    border-radius: 50%;
    width: 3%;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    right: 40px;      
}

.instagramlink {
    border-radius: 50%;
    width: 3%;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    right: 10px;    
}

div.relative {
    position: relative;
    border: 3px solid black;
    width: 220px;     
    top: 150px;
}

.intro {
  font-size: 50px;
  color: beige; 
  text-align: center;

}

.dropdown-1 {
    position: relative;
    display: inline-block;
    width: 3cm;
  }

.dropdownbutton-1 {
    background-color: black;
    color:aquamarine;
    padding: 16px;
    font-size: 16px;
    border-radius: 10%;
  }
  
  .dropdown-content-1 {
    display: none;
    position: absolute;
    background-color:beige;
    min-width: 80px;
    border-radius: 5px 5px 5px 5px;
   }

  .dropdown-content-1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-1:hover 
  .dropdown-content-1 {display: block;
                       background-color: beige;}
                   
  .dropdown-content-1 a:hover{background-color:blanchedalmond;}

  .dropdown-1:hover 
  .dropdownbutton-1 {background-color: black;
                     color: white;}

.dropdown-2 {
  position: relative;
  display: inline-block;
  width: 3cm;
} 

.dropdownbutton-2 {
  background-color: black;
  color:aquamarine;
  padding: 16px;
  font-size: 16px;
  border-radius: 10%;
}

.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color:beige;
  min-width: 80px;
  border-radius: 5px 5px 5px 5px;
}

.dropdown-content-2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-2:hover 
  .dropdown-content-2 {display: block;
                       background-color: beige;}
  
.dropdown-content-2 a:hover
  {background-color:blanchedalmond;}

.dropdown-2:hover 
  .dropdownbutton-2 {background-color: black;
                     color: white;}


                     
                     

          